{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Smug</title>
        <!-- favicon -->
        <link rel="icon" href="{% static "l/imgs/assets/favicon.ico" %}" type="image/x-icon">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- extra CSS -->
        <link href="{% static "l/css/stylesheet.css" %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class = "container-fluid">
        <span class="header"><a href="#">smug .</a></span>
        <span class="bottom-right">
            <a href="#" class="right-left-margin">sign up</a>
            <a href="#" class="right-left-margin">log in</a>
        </span>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn btn-default" data-toggle="collapse" data-target="#collapse-test" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <!-- define white in css -->
		    <span class="glyphicon glyphicon-menu-hamburger white" aria-hidden="true"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapse-test">
                <div class = "row">
                    <div class = "col-md-6">
                        <ul class="nav navbar-nav">
                            <li class = "divider-vertical-right"><a href="#" class = "pad-test">about</a></li>
                            <li class = "divider-vertical-right"><a href="#" class = "pad-test">loop</a></li>
                            <li><a href="#">zoop</a></li>
                        </ul>
                    </div>
                    <div class = "col-md-6">
                        <form class="navbar-form navbar-right" action="http://127.0.0.1:8000/search/">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" name="search_term">
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Upload <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <form action = "https://www.w3schools.com/action_page.php" method="post">
				        <div class="form-group right-left-margin form-text-color"> 
					    <label for="title">Title:</label><br>
                                                <input type="text" name="title"><br>
					    <label for="author">Author:</label><br>
                                                <input type="text" name="author"><br>
					    <label for="tags">Tags:</label><br>
                                                <input type="text" name="tags"><br>
                                            <label for="upload">Image Upload:</label>
                                                <input type="file" class="form-control-file" id="upload" name="upload-img" aria-describedby="fileHelp">
                                                <small id="fileHelp" class="form-text text-muted">Please keep files under 2000000000MB.</small> <br> <br>
					    <button type="submit" class="btn btn-primary">Submit</button> <br> 
					</div>
				    </form>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- navbar-collapse -->
        </nav>
        <div>
            <p>image is: {{ img.title }}</p>
        </div>
        {% with "l/imgs/db_assets/"|add:img.path as static_path %}
            <img src="{% static static_path %}" height="50%" width="50%">
        {% endwith %}
        <div>
            {% for tag in tags %}
                <span class="image-tags"><a href="#">#{{ tag.tag }}</a></span>
            {% endfor %}
        </div>
    </body>
    <footer>
	<!-- jQuery library -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- extra JS -->
	<script src="{% static "l/js/script.js" %}"></script>
    </footer>
</html>
