{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Smug</title>
        <!-- favicon -->
        <link rel="icon" href="{% static "l/imgs/assets/favicon.ico" %}" type="image/x-icon">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- extra CSS -->
        <link href="{% static "l/css/stylesheet.css" %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class = "container-fluid">

			<span class="header"><a href="#">smug .</a></span>
			<span class="bottom-right">
				<a href="#" class="right-left-margin">sign up</a>
				<a href="#" class="right-left-margin">log in</a>
			</span>

			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed btn btn-default" data-toggle="collapse" data-target="#collapse-test" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<!-- define white in css -->
					<span class="glyphicon glyphicon-menu-hamburger white" aria-hidden="true"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse-test">
					<div class = "row">
						<div class = "col-md-6">
							<ul class="nav navbar-nav">
								<li class = "divider-vertical-right"><a href="#" class = "pad-test">about</a></li>
								<li class = "divider-vertical-right"><a href="#" class = "pad-test">loop</a></li>
								<li><a href="#">zoop</a></li>
							</ul>
						</div>
						<div class = "col-md-6">
							<form class="navbar-form navbar-right" action="http://localhost:8000/smug/search/" method="get">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Search" name="search_term">
								</div>
								<button type="submit" class="btn btn-default">Search</button>
							</form>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="http://localhost:8000/smug/upload/">Upload</a></li>
							</ul>
						</div>
					</div>
				</div>
			<!-- navbar-collapse -->
			</nav>

			{% block content %} {% endblock %}

			<div class="footer">I am a foot. Nice foot ;)</div>

        <!-- end container-fluid -->
        </div>

    	<!-- jQuery library -->
        {% block jquery %}
    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% endblock %}

        <!-- extra JS -->
        {% block extra_js %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}

    	<!-- custom JS -->
        {% block custom_js %}
    	<script src="{% static "l/js/script.js" %}"></script>
        {% endblock %}

    </body>
</html>
