{% extends "l/gallery.html" %}

{% block welcome %}

<div class="jumbotron">
	<div class="jumbo-text">
		<h2>Hai.</h2>
		<span>new shit here</span>
		<br><br><br><br><br><br>
		<nav aria-label="Page navigation example">
			<div class = "text-right">
				<button class="btn btn-default target front-button-align"></button>
				<button class="btn btn-default target front-button-align"></button>
				<button class="btn btn-default target front-button-align"></button>
			</div>
		</nav>
	</div>
</div>

{% endblock %}
