{% load static %}
<html>
    <head>
        <link href="{% static "l/css/style.css" %}" rel="stylesheet" type="text/css"> 
        <link href="{% static "l/css/lib/bootstrap.css" %}" rel="stylesheet" type="text/css">
        <script src="{% static "l/js/script.js" %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse bg-inverse">
            <ul>
                hi
            </ul>
        </nav>
        <div>
            <p>this text should be red</p> 
        </div>
        <div>
            <img src="{% static "l/imgs/db_assets/0.png" %}"/>
        </div>
    </body>
</html>


